<html>
<head>
    <title>Login to Qantas</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h2 id="contents">Login to Qantas</h2>
<form id="form" action="">
    Username: <input title="Username" type="text"/><br />
    Password: <input title="Password" type="text"/><br />
    <div id="errorContainer">

    </div>
    <button id="submit" class="btn btn-blue btn-border-o">Submit</button>
    <button id="cancel" class="btn btn-blue btn-border-o">Cancel</button>
</form>
<script>
    var queryVars = parseQueryVariables(),
        form = document.getElementById("form"),
        submitBtn = document.getElementById("submit"),
        cancelBtn = document.getElementById("cancel"),
        errorContainer = document.getElementById("errorContainer");

    if (!window.Android) {
        console.error("Android interface not available");
    }

    var formHandler = function (e) {
        e.preventDefault();

        console.log(form.children);

        window.request("https://au-api.basiq.io/users/" + queryVars.user_id + "/connections", "POST", {
            loginId: form.children[0].value,
            password: form.children[2].value,
            institution: {
                id: queryVars.institution_id
            }
        }, {
            "Authorization": "Bearer " + queryVars.access_token
        }).then(resp => {
            if (!resp.body.success) {
                throw resp;
            }

            return resp.body;
        }).then(resp => {
            var nextURI = {{{json nextURI}}};

            //window.location = nextURI.replace("{token}", resp.accessToken);
            Android.setConnectionId(resp.id);
        }).catch(err => {
            errorContainer.innerHTML = err.body && err.body.errorMessage
                    ? "Error: " + err.body.errorMessage
                    : "Unknown error";
            console.error(JSON.stringify(err));
        });
    };

    form.addEventListener("submit", formHandler);
    submitBtn.addEventListener("click", formHandler);
    cancelBtn.addEventListener("click", function (e) {
        e.preventDefault();

        Android.cancelActions();
    });


</script>
</body>
</html>