<html>
<head>
    <title>Login to Qantas</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2 id="loading">Loading data...</h2>
<div id="content">
    <h2 id="title">Login</h2>
    <h5 id="serviceName"></h5>
    <form id="form" action="">
        <table class="credentials-table">
            <tr>
                <td><span id="usernameInputLabel">Username:</span></td>
                <td><input id="usernameInput" title="Username" type="text"/></td>
            </tr>
            <tr>
                <td><span id="passwordInputLabel">Password:</span></td>
                <td><input id="passwordInput" title="Password" type="password"/></td>
            </tr>
        </table>
        <button id="submit" class="btn btn-blue btn-border-o">Submit</button>
        <button id="cancel" class="btn btn-blue btn-border-o">Cancel</button>
    </form>
</div>
<div id="errorContainer"></div>

<script src="/API.js"></script>
<script>
    document.getElementById("loading").style.display = "block";
    document.getElementById("content").style.display = "none";

    var queryVars = parseQueryVariables(),
        institutionId = queryVars.institution_id,
        userId = queryVars.user_id,
        accessToken = queryVars.access_token,
        form = document.getElementById("form"),
        submitBtn = document.getElementById("submit"),
        cancelBtn = document.getElementById("cancel"),
        errorContainer = document.getElementById("errorContainer");

    if (!institutionId) {
        console.error("No institution id provided");
    }

    API.loadInstitution(institutionId, accessToken);

    var formHandler = function (e) {
        e.preventDefault();

        console.log(form.children);

        API.createUserConnection(
            accessToken,
            userId,
            institutionId,
            document.getElementById("usernameInput").value,
            document.getElementById("passwordInput").value
        );
    };

    form.addEventListener("submit", formHandler);
    submitBtn.addEventListener("click", formHandler);
    cancelBtn.addEventListener("click", function (e) {
        e.preventDefault();

        window.location.replace("basiq://cancelation");
    });


</script>
</body>
</html>