<html>
<head>
    <title>Login to Qantas</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2 id="loading">Loading data...</h2>
<div id="content">
    <h2 id="title">Login</h2>
    <h5 id="serviceName"></h5>
    <form id="form" action="">
        <table class="credentials-table">
            <tr>
                <td><span id="usernameInputLabel">Username:</span></td>
                <td><input id="usernameInput" title="Username" type="text"/></td>
            </tr>
            <tr>
                <td><span id="passwordInputLabel">Password:</span></td>
                <td><input id="passwordInput" title="Password" type="password"/></td>
            </tr>
        </table>
        <button id="submit" class="btn btn-blue btn-border-o">Submit</button>
        <button id="cancel" class="btn btn-blue btn-border-o">Cancel</button>
    </form>
</div>
<div id="errorContainer"></div>

<script>
    document.getElementById("loading").style.display = "block";
    document.getElementById("content").style.display = "none";

    var queryVars = parseQueryVariables(),
        institutionId = queryVars.institution_id,
        accessToken = queryVars.access_token,
        form = document.getElementById("form"),
        submitBtn = document.getElementById("submit"),
        cancelBtn = document.getElementById("cancel"),
        errorContainer = document.getElementById("errorContainer");

    if (!window.Android) {
        console.error("Android interface not available");
    }

    if (!institutionId) {
        console.error("No institution id provided");
    }

    loadInstitution(institutionId, accessToken);

    var formHandler = function (e) {
        e.preventDefault();

        console.log(form.children);

        window.request("https://au-api.basiq.io/users/" + queryVars.user_id + "/connections", "POST", {
            loginId: document.getElementById("usernameInput").value,
            password: document.getElementById("passwordInput").value,
            institution: {
                id: institutionId
            }
        }, {
            "Authorization": "Bearer " + queryVars.access_token
        }).then(resp => {
            if (resp.statusCode > 299) {
                throw resp;
            }

            return resp.body;
        }).then(resp => {
            var nextURI = {{{json nextURI}}};

            //window.location = nextURI.replace("{token}", resp.accessToken);
            Android.setConnectionId(resp.id);
        }).catch(err => {
            document.getElementById("loading").style.display = "none";

            errorContainer.innerHTML = err.body && err.body.errorMessage
                    ? "Error: " + err.body.errorMessage
                    : "Unknown error";
            console.error(JSON.stringify(err));
        });
    };

    form.addEventListener("submit", formHandler);
    submitBtn.addEventListener("click", formHandler);
    cancelBtn.addEventListener("click", function (e) {
        e.preventDefault();

        Android.cancelActions();
    });


    function loadInstitution(id, token) {
        if (!id) {
            return console.log("No id provided");
        }

        window.request("https://au-api.basiq.io/institutions/" + id, "GET", {}, {
            "Authorization": "Bearer " + token
        }).then(resp => {
            if (resp.statusCode > 299) {
                throw resp;
            }

            return resp.body;
        }).then(resp => {
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
            if (resp.loginIdCaption) {
                document.getElementById("usernameInputLabel").innerHTML = resp.loginIdCaption + ":";
            }
            if (resp.passwordCaption) {
                document.getElementById("passwordInputLabel").innerHTML = resp.passwordCaption + ":";
            }

            document.getElementById("title").innerHTML = "Login to " + resp.name;
            document.getElementById("serviceName").innerHTML = resp.serviceName;
        }).catch(err => {
            document.getElementById("loading").style.display = "none";

            errorContainer.innerHTML = err.body && err.body.data && err.body.data[0]
                    ? "Error: " + err.body.data[0].title
                    : "Unknown error";

            console.error(err);
        });
    }


</script>
</body>
</html>