<html>
<head>
    <title>Qantas</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
{{#if hasToken}}
    <h2 id="loading">Loading data...</h2>
    <div id="content">
        <h2>Hello user, select your institution to login</h2>
        <ul id="institutionsContainer">
            <!--<li><a id="trigger" href="/authenticate?user_id=9743e438-02eb-41f0-858e-b41290032a03&institution_id={inst_id}&access_token={token}">Quantas</a></li>-->
        </ul>​
    </div>
    <div id="errorContainer"></div>
{{else}}
    <a id="trigger" href="/">No access token provided!</a>
{{/if}}
{{#if hasToken}}

<script>
    document.getElementById("loading").style.display = "block";
    document.getElementById("content").style.display = "none";

    var queryVars = parseQueryVariables(),
        userId = queryVars["user_id"],
        accessToken = queryVars["access_token"],
        errorContainer = document.getElementById("errorContainer"),
        url = "/authenticate?user_id="+userId+"&institution_id={inst_id}&access_token="+accessToken;

    loadInstitutions(accessToken);

    function loadInstitutions(token) {
        window.request("https://au-api.basiq.io/institutions", "GET", {}, {
            "Authorization": "Bearer " + token
        }).then(resp => {
            if (resp.statusCode > 299) {
                throw resp;
            }

            return resp.body;
        }).then(resp => {
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";

            var instCont = document.getElementById("institutionsContainer");
            console.log("Institutions resp", resp);
            for (var institution in resp.data) {
                url = url.replace("{inst_id}", resp.data[institution].id);
                var li = document.createElement("li"), a = document.createElement("a");
                a.innerHTML = resp.data[institution].name;
                a.setAttribute("href", url);
                li.appendChild(a);
                instCont.appendChild(li);
            }
        }).catch(err => {
            errorContainer.innerHTML = err.body && err.body.errorMessage
                    ? "Error: " + err.body.errorMessage
                    : "Unknown error";

            console.error(JSON.stringify(err));
        });
    }
</script>
{{/if}}
</body>
</html>