<html>
<head>
    <title>Qantas</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
{{#if hasToken}}
    <a id="trigger" href="/">User validated!</a>
{{else}}
    <h2 id="loading">Loading data...</h2>
    <div id="content">
        <h2>Hello user, select your institution to login</h2>
        <ul id="institutionsContainer">
            <!--<li><a id="trigger" href="/authenticate?user_id=9743e438-02eb-41f0-858e-b41290032a03&institution_id={inst_id}&access_token={token}">Quantas</a></li>-->
        </ul>​
    </div>
    <div id="errorContainer"></div>
{{/if}}
{{#unless hasToken}}

<script>
    document.getElementById("loading").style.display = "block";
    document.getElementById("content").style.display = "none";
    var authToken = localStorage.getItem("authToken"),
        errorContainer = document.getElementById("errorContainer"),
        url = "/authenticate?user_id=d2e5afbc-6d4f-4706-88e2-fdb1191eeb2b&institution_id={inst_id}&access_token={token}";

    /*window.request("user", "POST", {
        email: "nenadspp@gmail.com"
    }).then(resp => {
        if (!resp.body.success) {
            throw resp;
        }

        return resp.body;
    }).then(resp => {
        console.log("User resp", resp);
    });*/

    if (authToken) {
        url = url.replace("{token}", authToken);
        loadInstitutions(authToken);
    } else {
        getAccessToken();
    }

    function getAccessToken() {
        window.request("access_token", "POST", {
            client_id: "oawdj1b2ourg"
        }).then(resp => {
            if (!resp.body.success) {
                errorContainer.innerHTML = resp.result.errorMessage;
                throw resp;
            }

            return resp.body;
        }).then(resp => {
            var link = document.getElementById("trigger"), currentHref = link.getAttribute("href");
            localStorage.setItem("authToken", resp.result.access_token);
            url = url.replace("{token}", resp.result.access_token);

            loadInstitutions(resp.result.access_token);
        });
    }

    function loadInstitutions(token) {
        window.request("https://au-api.basiq.io/institutions", "GET", {}, {
            "Authorization": "Bearerd " + token
        }).then(resp => {
            if (resp.statusCode > 299) {
                throw new Error(resp);
            }

            return resp.body;
        }).then(resp => {
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";

            var instCont = document.getElementById("institutionsContainer");
            console.log("Institutions resp", resp);
            for (var institution in resp.data) {
                url = url.replace("{inst_id}", resp.data[institution].id);
                var li = document.createElement("li"), a = document.createElement("a");
                a.innerHTML = resp.data[institution].name;
                a.setAttribute("href", url);
                li.appendChild(a);
                instCont.appendChild(li);
            }
        }).catch(err => {
            errorContainer.innerHTML = err.body && err.body.errorMessage
                    ? "Error: " + err.body.errorMessage
                    : "Unknown error";

            console.error(JSON.stringify(err));
        });
    }
</script>
{{/unless}}
</body>
</html>