@font-face {
    font-family: "Lucida Grande";
    src: url("fonts/LucidaGrande.woff2") format("woff2"),
    url("fonts/LucidaGrande.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Lucida Grande, sans-serif;
    background: #fafafa;
    color: #9B9B9B;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    display: block;
    padding: 9px 10px 5px 10px;
    border: 1px solid #EDEDED;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

form {
    margin: 2.5% 3%;
}

h2 {
    margin: 5% 3% 3% 3%;
    font-size: 15px;
    padding-bottom: 15px;
    color: #444444;
}

h3 {
    font-weight: normal;
    font-size: 0.9em;
}

h5 {
    margin: 3%;
}

input {
    margin: 10px 0;
    padding: 8px 13px;
    font-size: 13px;
    border-radius: 9px;
    border: 1px solid #EDEDED;
    width: 100%;
    height: 35px;
    color: #000000;
}

input:focus {
    outline: none;
    border: 1px solid #A0A0A0;
}

input::placeholder {
    color: #9B9B9B;
}

input, button, a {
    font-family: Lucida Grande, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#institutionsContainer {
    text-align: center;
    margin-top: 13px;
    padding: 2px 20px 70px 20px;
    overflow-y: scroll;
    -webkit-transition: border 1s;
    -moz-transition: border 1s;
    -ms-transition: border 1s;
    -o-transition: border 1s;
    transition: border 1s;
    border-top: 1px solid #fafafa;
}

#institutionsContainer.scrolling {
    border-top: 1px solid #EDEDED;
}

#choiceContainer, #pdfContainer {
    height: 85%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

#choiceContainer > h4 {
    text-align: center;
    font-size: 0.85em;
    font-weight: normal;
}

.dropzoneContainer {
    flex: 0.6;
    margin: 5% 11%;
    height: 200px;
}

.overviewContainer {
    margin: 6%;
    height: 79%;
    overflow-y: scroll;
}

.choice-title {
    margin: 2%;
}

.pdfChoice, .onlineChoice {
    flex: 0.25;
    margin: 5%;
    padding: 5% 5% 5% 22%;
    background: white;
    font-size: 0.80em;
    height: 40%;
    transition-duration: 200ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
    color: #8e8e8e;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #cacaca !important;
}

.pdfChoice h4, .onlineChoice h4 {
    color: #464444;
    margin: 5px 0px 11px 0px;
}

.pdfChoice {
    background: url("images/upload.svg") no-repeat;
    background-size: 15%;
    background-position: 6% 55%;
}

.onlineChoice {
    background: url("images/institution.svg") no-repeat;
    background-size: 15%;
    background-position: 6% 50%;
    margin-top: 12%;
}


#choiceContainer ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 15px;
}
  
#choiceContainer ul li:before {
    content: "\2713\0020";
}

.pdfChoice li, .onlineChoice li {
    margin-top: 15px;
}

.pdfChoice:hover, .onlineChoice:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #d4d4d4 !important;
}

.container-search {
    margin-top: 20px;
}

.institution-search {
    margin-top: 20px;
}

.credentials-table {
    width: 100%;
}


#pdfUploadPage {
    overflow-y: scroll;
    height: 79%;
}

.dropzone-previews {
    padding: 0 10%;
}

#pdfUploadPage {
    overflow-y: scroll;
    height: 79%;
}

.dropzone-previews {
    padding: 0 10%;
}

#errorContainer {
    color: #cc1e1e;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 17px;
    padding-top: 22px;
}

#header {
    padding: 21px 20px 1px 20px;
    text-align: center;
}

#header h2, #header form {
    margin: 0;
}

#header h2 {
    padding: 0;
    margin: auto auto 20px auto;
    width: 81%;
    font-weight: normal;
}

.button {
    background-color: #2c90e9;
    color: #fff;
    border: 0;
    font-size: 17px;
    height: 50px;
    outline: 0;
    text-align: center;
    text-transform: none;
    transition-duration: 200ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
    font-weight: normal;
    width: 100%;
    margin-top: 20px;
}

.button:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), inset 0 1px 0 0 rgba(255,255,255,0.15);
    cursor: pointer;
}

button.button-primary {
    background: #012e3c;
    color: #fff;
}

.input-container-left, .input-container-right {
    position: relative;
}

.input-container-left input {
    padding-left: 46px;
}

.input-container-right input {
    padding-right: 46px;
}

#usernameInput, #passwordInput, #securityInput, #secondaryLoginId {
    height: 48px;
}

.ico-mglass {
    position: absolute;
    top: 18px;
    right: 16px;
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    height: 9px;
    width: 9px;
    border: 2px solid #c6c6c6;
}
.ico-mglass:after {
    content: "";
    height: 3px;
    width: 10px;
    background: #c6c6c6;
    position: absolute;
    top: 10px;
    left: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.ico-lock {
    position: absolute;
    background: #c6c6c6;
    border-radius: 3px;
    width: 12px;
    height: 10px;
    top: 31px;
    right: 14px;
}
  
.ico-lock:before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #c6c6c6;
    top: -7px;
    left: 0.12em;
    width: 4px;
    height: 5px;
    border-radius: 35px 35px 0 0;
}

.search-form {

}

.img-placeholder {
    width: 100%;
    height: 100%;
}

.bank-row {
    padding: 0;
    margin: 0;
}

.bank-link {
    display: inline-block;
    background: #fbfbfb;
    margin: 0 0 10px 0;
    width: 46%;
    vertical-align: top;
}

.bank-link a:hover:not(.active) {
    -webkit-box-shadow: 0px 0px 0px 1px #d4d4d4 !important;
    -moz-box-shadow: 0px 0px 0px 1px #d4d4d4 !important;
    box-shadow: 0px 0px 0px 1px #d4d4d4 !important;
}

.bank-link-search a.active {
    color: #4A90E2;
}

.bank-link:after {
    content: "";
    clear: both;
    display: table;
}

.bank-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 0px 1px #EDEDED;
    -moz-box-shadow: 0px 0px 0px 1px #EDEDED;
    box-shadow: 0px 0px 0px 1px #EDEDED;
    padding: 4px 10px;
}

.bank-link a.active {
    -webkit-box-shadow: 0px 0px 0px 2px #4A90E2;
    -moz-box-shadow: 0px 0px 0px 2px #4A90E2;
    box-shadow: 0px 0px 0px 2px #4A90E2;
}

.bank-link img {
    margin: auto;
}

.bank-link-search {
    width: 100%;
    display: block;
    text-align: left;
    background: none;
    vertical-align: top;
}

.bank-link-search-header:after, .search-result-title:after {
    content: "";
    position: absolute;
    top: -0.25em;
    right: 100%;
    bottom: -0.25em;
    width: 0.25em;
}

.bank-link-search-header, .search-result-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 75%;
    line-height: 25px;
}

.bank-link-search a {
    border: none;
    vertical-align: middle;
    height: 100%;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

.bank-link-search a:active, .bank-link-search a:hover, .bank-link-search a:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

.bank-link-search:hover a {
    background: #fff;
}

.bank-link-search a img {
    display: inline-block;
    vertical-align: middle;
}

.search-placeholder {
    text-align: center;
    width: 70%;
    margin: 80px auto auto auto;
}

.search-placeholder img {
    margin: auto;
    text-align: center;
    width: 40px;
}

.search-placeholder span {
    display: block;
    margin-top: 20px;
    font-size: 13px;
}

#consentForm {
    display: none;
}

#content {
    height: 100%;
}

.content {
    padding: 40px;
    height: 55%;
    overflow: scroll;
}

.consent-header {

}

.consent-permissions {

}

.consent-permissions h4 {

}

.consent-permissions ul {

}

.consent-permissions li {

}

.consent-legal {
    font-size: x-small;
    color: #a7a7a7;
    margin-top: 40px;
}

.status-container {
    height: 90%;
    margin: 0;
    width: 90%;
    padding: 5%;
    transition: 2s all;
    text-align: center;
}

.status-container h2 {
    margin: 10% 6% 4% 6%;
    font-size: 20px;
}

.status-animate-active {
    display: block;
}

.status-animate-inactive {
    display: none;
}

#statusMessage {
    margin-top: 21px;
}

.loading-pulse {
    transition: background-position 100ms, transform 2000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -webkit-transition: background-position 100ms, transform 2000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: background-position 100ms, transform 2000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: loading-pulse 15s ease infinite;
	-moz-animation: loading-pulse 15s ease infinite;
	animation: loading-pulse 15s ease infinite;
}

.credentials-form {
    padding: 20px;
    text-align: center;
    height: 80%;
    margin: 0;
    background: #fff;
}

.bank-logo-container {
    height: 21%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-check {
    padding: 10px;
    background: #4A90E2;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
}

.rounded-check:before {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 48px;
    margin-top: 7px;
    width: 22px;
    border-right: 7px solid #fafafa;
    border-bottom: 7px solid #fafafa;
}

.result-text-success {
    color: #4A90E2 !important;
}

.result-error {
    background: #E24A4A !important;
}

.result-text-error {
    color: #E24A4A !important;
}

.result-text-default {
    color: #4A4A4A !important;
}

.error-button {
    background: #E24A4A;
}

.rounded-cross {
    padding: 10px;
    border-radius: 80px;
    background: #E24A4A;
    width: 80px;
    height: 80px;
    margin: auto;
}

.rounded-cross:before {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 35px;
    width: 65px;
    margin-top: 6px;
    margin-left: 20px;
    border-bottom: 7px solid #fafafa;
}

.rounded-cross:after {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 65px;
    width: 35px;
    margin-left: 26px;
    margin-top: -29px;
    border-left: 7px solid #fafafa;
}

.hidden {
    display: none !important;
}

.tag-line {
    margin-top: 3%;
    color: #9B9B9B;
}

.tag-line-icon {
    display: inline-block;
    width: 20%;
    margin-left: 10px;
}

.tag-line-description {
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
}

.tag-line-description h4 {
    margin-bottom: 9px;
    font-size: 13px;
}

.tag-line-description p {
    margin-top: 3px;
}

a.back-arrow {
    position: fixed;
    top: 19px;
    z-index: 102;
    left: 25px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: solid black;
    border-width: 0 3.5px 3.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

a.back-arrow:after,a.back-arrow:before {
    content: "";
    position: absolute;
    background: #fafafa;
    top: 13px;
    right: 5px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}

a.back-arrow:before {
    top: -11px;
    left: 10px;
}

#hideSearchButton {
    z-index: 103;
}

a#closeButton {
    position: fixed;
    top: 17px;
    z-index: 102;
    right: 20px;
    font-size: 20pt;
    font-family: "Arial", sans-serif;
    cursor: pointer;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(.16,.81,.32,1), opacity 0.5s ease;
    transform: rotate(45deg);
    background: #D8D8D8;
    padding: 2px;
    border-radius: 20px;
}

a#closeButton:after {
    transform: rotate(90deg)
}
  
a#closeButton:after, a#closeButton:before {
    content: '';
    position: absolute;
    width: 60%;
    top: 50%;
    left: 20%;
    background: #9B9B9B;
    height: 2px;
    margin-top: -1px;
}

a#closeButton:before {
    width: 61%;
}
  
a#closeButton:hover {
    transform: rotate(135deg);
}

#statusMessage {
    font-size: 17px;
    color: #4A90E2;
}

.footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background: #f5f5f5;
    display: flex;
}

.footer-button {
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 0;
    transition: 0.6s all;
}

.footer-button-active {
    height: 48px;
}

.footer-button-active:hover {
    height: 51px;
}

.half-button {
    width: 50%;
}

#statusIcon {
    margin: 30% auto auto auto;
}

.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    margin: 20% auto auto auto;
    opacity: 0;
    width: 30px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.loader-container {
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 180px;
    background: #4A90E2;
    transition: all 2s;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner {
    position: relative;
    transition: all 1.5s;
}

.img-placeholder-search {
    width: 30%;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: 14px;
    margin-left: -25px;
    border-radius: 50%;
    border: 2px solid #fafafa;
    border-top-color: #5b90dc;
    animation: spinner 1.0s linear infinite;
}

.initial-loader {
    margin-top: 35%;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: scale .3s ease-in-out .9s both;
}

.checkmark__check, .checkmark__cross {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.fortress {
    transform-origin: 50% 50%;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: stroke 1.3s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
}

#connectionCross, #connectionCheckmark {
    margin-top: 0;
}

#connectionCross, #loadingCross {
    height: 70px;
}

#loadingCross {
    margin: auto auto auto 12px;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
